---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="♡ About Me ♡" description="hello" />
  </head>
  <body>
    <main>
      <Header />
      <header>
        <h1 class="name">= About Me =</h1>
      </header>

      <div class="layout-main">
        <article class="layout-box blog">
          <p>hello</p>

        </article>
      </div>
      
      <Footer />
    </main>
  </body>
</html>
