@font-face {
  font-family: title;
  src: url("./Fonts/Arbotek/Arbotek-Ultra.otf");
}

@font-face {
  font-family: fonttext;
  src: url("./Fonts/ComicMono.ttf");
}

::selection {
  background: #a3b18a;
}

body {
  font-family: Comic, Verdana, sans-serif;
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=163735'), auto;
  font-size: 17px;
  margin: auto;
  padding: 40px;
  padding-top: 6em;
  max-width: 70ch;
  text-align: left;
  background-color: #dad7cd;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #2e4038;
}

.title {
  font-size: 60px;
  font-family: title;
  color: #a3b18a;
  -webkit-text-stroke: 2px #588157;
  text-shadow: 2px 2px 0 #588157;
}

main {
  padding: 0em 0em 2em 0em;
}

.contentTitle {
  font-size: 2.3em;
  font-family: title;
  margin-bottom: 0px;
  color: #a3b18a;
  -webkit-text-stroke: 1px #588157;
  text-shadow: 1px 1px 0 #588157;
}

.date {
  font-size: 14px;
}

h1 {
  font-size: 60px;
  font-family: title;
  color: #a3b18a;
  -webkit-text-stroke: 2px #588157;
  text-shadow: 2px 2px 0 #588157;
  letter-spacing: 1px;
}
h2 {
  font-size: 42px;
  font-family: title;
  color: #588157;
}
h3 {
  font-size: 18px;
  color: #588157;
}
h4 {
  font-size: 14px;
  color: #588157;
}
h5,
h6,
strong,
b {
  color: #a3b18a;
}
a {
  color: #588157;
  text-underline-offset: 3px;
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=163731'), auto;
}
nav a {
  margin-right: 30px;
  line-height: 0px;
  font-size: 28px;
  letter-spacing: 0.5px;
  font-family: title;
  /* color: #A3B18A;
	-webkit-text-stroke: 0.8px #588157; 
	text-shadow: 0.5px 0.5px 0 #588157; */
  color: #594d40;
}
a.active {
  font-weight: bolder;
}
.hover-underline-animation {
  position: relative;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #594D40;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 3rem;
}
.icon1 {
  background-color: rgba(88, 129, 87, 0.667);
  width: 20px;
  height: 20px;
  border-radius: 1em;
  padding: 0.5em;
  margin-right: 5px;
  transition: 0.3s ease-in-out 0s;
  transform: scale(0.98);
}
.icon1:hover {
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=163731"), auto;
  transform: scale(1);
  transform: translateZ(0);
  backface-visibility: hidden;
}

.socials > a {
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=163731'), auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1em;
}
