---
const today = new Date();
import Socials from "./Socials.astro";
---

  <footer>
    <h1>♡ {today.getFullYear()} سمر ♡</h1>
    <Socials />
  </footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: title;
    font-size: 1.3em;
    background-color: var(--primary-color);
    -webkit-text-stroke: 0px;
    text-shadow: none;
  }
</style>
