---
const today = new Date();
---

<footer>
	<h1>♡ {today.getFullYear()} سمر ♡</h1>
</footer>

<style>
	footer {
		text-align: center;
		padding-top: 5rem;
	}
	h1 {
		font-family: title;
		line-height: 5px;
		font-size: 1.3em;
		color: #588157;
		-webkit-text-stroke: 0px;
		text-shadow: none;
	}
</style>
