---
const today = new Date();
import Socials from "./Socials.astro";
---

  <footer>
    <h1>♡ {today.getFullYear()} سمر ♡</h1>
    <Socials />
    <hr>
  </footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1em;
  }
  h1 {
    font-family: title;
    line-height: 5px;
    font-size: 1.3em;
    color: #588157;
    -webkit-text-stroke: 0px;
    text-shadow: none;
  }
  hr {
    border-radius: 5px;
    border: 5px solid #594D40;
    width: -webkit-fill-available;
    padding: 0rem;
  }
</style>
