---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
    padding-top: 1rem;
    font-family: title;
    color: #588157;
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 300;
  }
  a.active {
    display: none;
  }
</style>
