---
import HeaderLink from "./HeaderLink.astro";
---

<div class="line"></div>
  <header>
  <nav class="header">
    <HeaderLink class="hover-underline-animation" href="/portfolio">Home</HeaderLink>
    <HeaderLink class="hover-underline-animation" href="/projects">Projects</HeaderLink>
    <HeaderLink class="hover-underline-animation" href="/blog">Blog</HeaderLink>
    <HeaderLink class="hover-underline-animation" href="/caseStudy">Case Study</HeaderLink>
  </nav>
</header>

<style>
  .line {
    display: flex;
    padding: 0.4rem;
    justify-content: right;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--nav-color);
    background-color: var(--nav-color);
  }
  .header {
    display: flex;
    position: relative;
    margin: 0em 0em 2em 0em;
    padding: 0.4rem;
    justify-content: right;

    font-weight: bold;
    line-height: 0px;
    font-size: 18px;
  }
  @media only screen and (max-width: 680px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>
