---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="header">
		<HeaderLink href="/portfolio">Home</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: flex;
		margin: 4em 0em 2em 0em;
		justify-content: right;
		}
</style>
