---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("projects")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="projects" description="hello" />
    <style>
	  .title {
		text-align: center;
        font-size: 26px;
        letter-spacing: 0.5px;
        -webkit-text-stroke: 1.2px #588157;
        text-shadow: 0.5px 0.5px 0 #588157;
      }
	  ul li {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a {
        text-decoration: none;
		display: block;
		padding: 10px;
      }
      .project-card {
        margin-bottom: 1em;
        border-radius: 5px;
        border-style: solid;
        border-color: #594d40;
        box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
        transition: 0.3s ease-in-out 0s;
      }
      .project-link {
        display: none;
        font-size: 20px;
      }
      .project-card:hover {
        cursor: url("/assets/cursors/select.cur"),
          auto;
        transition: 0.3s ease-in-out 0s;
        transform: scale(0.98);
      }
      .boxes {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        flex-wrap: wrap;
        column-gap: 5%;
        max-width: 1000px;
        list-style: none;
        margin: 1em auto;
        padding: 0px;
      }
      p {
        font-family: body;
        font-size: 18px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Projects</h1>
      <section>
        <ul class="boxes">
          {
            posts.reverse().map((post) => (
              <li class="project-card">
                <a href={`${post.data.projectURL}`}>
                    <h1 class="title">{post.data.title}</h1>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
