---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("projects")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="projects" description="hello" />
    <style></style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Projects</h1>
      <section>
        <ul class="boxes">
          {
            posts.reverse().map((post) => (
              <li class="project-box">
                <a href={`${post.data.projectURL}`}>
                  <h1 class="title-projects">{post.data.title}</h1>
                </a>
                <div class="tags-boxes">
                  {post.data.tags.map((tag) => (
                    <div class="tag-box">
                      <p class="tags">{tag}</p>
                    </div>
                  ))}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
