---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Socials from '../../components/Socials.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('projects')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="projects" description="hello"/>
		<style>

			h1 {
				text-align: center;
			}
			ul {
				list-style-type: none;
			}
			ul li {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			a {
				text-decoration: none;
			}
			.project-card {
				background-color: rgba(163, 177, 138, 0.667);
				border-radius: 1em;
				padding: 1em;
				margin-bottom: 1em;
				box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
				transition: .3s ease-in-out 0s;
				transform: scale(0.98);
			}
			.project-link {
				display: none;
				font-size: 20px;
			}
			.project-card:hover {
				cursor: pointer;
				transform: scale(1.2);
				transform: translateZ(0);
				backface-visibility: hidden;
			}
			.boxes {
				box-sizing: border-box;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
				flex-wrap: wrap;
				column-gap: 5%;
				max-width: 1000px;
				list-style: none;
				margin: 1em auto;
				padding: 0px;
			}

			.project-preview {
				display:inline;
    			margin-bottom: 0.2em;
			}
			.project-title {
				font-family: title;
				font-size: 18px;
				margin: 0;
			}
			p {
				font-family: body;
				font-size: 18px;
				margin-bottom: 20px;
				display: flex;
				justify-content: center;
			}
			.img {
				width: 60%;
				margin: auto;
				display: block;
			}

			.title {
				font-size: 26px;
				letter-spacing: 0.5px;
				-webkit-text-stroke: 1.2px #588157; 
				text-shadow: 0.5px 0.5px 0 #588157;
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Projects</h1>
			<section>
				<ul class="boxes">
					{
						posts.map((post) => (
							<li class="project-card">
								<a href={`/projects/${post.slug}/`}>
									<div class="project-preview">
										<h1 class="title">{post.data.title}</h1>
										<p>{post.data.description}</p>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
		<Socials />
	</body>
</html>
