---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h1 {
        margin-bottom: 1px;
      }
      Header {
        margin-bottom: 3em;
      }
      p {
        line-height: 1.39rem;
      }
      .hehe {
        text-align: right;
        font-size: 10px;
      }
      a {
        position: relative;
        color: #594D40;
      }
      main {
        padding-bottom: 13em;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F4F7YBFSTK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-F4F7YBFSTK");
    </script>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="title">Hello, I'm Samar!</h1>

      <br />
      
      <p>Hey there!👋 I'm a fullstack engineer and developer advocate</p>
        
      <p>
        I am a dedicated team player with a keen eye for detail and exceptional 
        organizational skills. My strong interpersonal communication and problem-solving 
        abilities make me a standout candidate for any project. With a robust technical 
        skill set that includes ReactJS, Javascript, & Node. I am well-equipped to tackle 
        full-stack development challenges. Additionally, my experience with UNIX/LINUX and 
        API integrations further enhance my capabilities. Whether it's developing innovative 
        web applications or advocating for cutting-edge technologies, I am committed to 
        contributing my skills and expertise to make a meaningful impact.
      </p>

      <p>
        Lately, I've been wearing many hats from crafting freelance websites and nurturing 
        my new role as a cat mom. In my spare time, I've been passionately 
        collaborating on exciting online projects within my vibrant community. It's a dynamic 
        blend of creativity, responsibilities, and shared experiences that keeps me engaged 
        and motivated.
      </p>
        
      <p>
        <br />Check out my super fun 
        <a class="hover-underline-animation" href="/projects">projects</a>
        <br />Check out my cool 
        <a class="hover-underline-animation" href="/" target="_blank" rel="noopener noreferrer">link page</a>
      </p>

      <p class="hehe">hire me plz</p>

    </main>
    <Footer />
  </body>
</html>
